<form>
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Full Name">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Email">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Password">
        </div>

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Mobile Number">
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Sign Up</button>
        </div>

    </fieldset>
</form>