<div class="uk-child-width-expand@s uk-text-center uk-margin-top uk-margin-bottom" uk-grid>
  <div class="uk-width-1-3@m">

  </div>
  <div class="uk-width-1-3@m">
    <div class="uk-card uk-card-hover uk-card-small uk-card-default uk-card-body">
      <div class="uk-card-title">
        Become a franchise
      </div>
      <div class="uk-card-body">
        <form>
          <fieldset class="uk-fieldset">

            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Name">
            </div>

            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Email">
            </div>

            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Phone Number">
            </div>

            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Location">
            </div>

            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Description of business">
            </div>

            <div class="uk-margin">
              <button class="uk-button uk-button-primary">Submit</button>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m">

  </div>
</div>