<div class="uk-card uk-card-default uk-margin-top uk-margin-bottom" style="z-index: 980;" uk-sticky="offset: 0; bottom: #top">
  <div class="uk-card-header">
    <p>Your Order </p>
  </div>
  <div class="uk-card-body">
    <ul class="uk-list">
      <li uk-grid uk-child-width-1-3>
        <span>1</span>
        <span>Chicken Biryani Half</span>
        <span>400.00</span>
      </li>
      <hr>
      <li uk-grid uk-child-width-1-3>
        <span>1</span>
        <span>Chicken Biryani Half</span>
        <span>400.00</span>
      </li>
      <hr>
      <li uk-grid uk-child-width-1-3>
        <span>1</span>
        <span>Chicken Biryani Half</span>
        <span>400.00</span>
      </li>
    </ul>
    <p>Total: 1200.00</p>
  </div>
  <button class="uk-button uk-button-secondary uk-width-1-1">Proceed to Checkout</button>

</div>