<div class="uk-card uk-card-hover uk-card-small uk-card-default uk-card-body">
  <div class="uk-card-title">
    Address Form
  </div>
  <div class="uk-card-body">
    <form>
      <fieldset class="uk-fieldset">

        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Address Type">
        </div>

        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Address Full">
        </div>

        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Select Area">
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Add</button>
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Update</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>