<table class="uk-table uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th>City Name</th>
            <th>Choose One</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Table Data</td>
            <td><input class="uk-radio" type="radio" name="radio2"></td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td><input class="uk-radio" type="radio" name="radio2"></td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td><input class="uk-radio" type="radio" name="radio2"></td>
        </tr>
    </tbody>
</table>
