<form>
    <fieldset class="uk-fieldset">

        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Enter City Name">
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Submit</button>
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Update</button>
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Delete</button>
        </div>

    </fieldset>
</form>