<div>
  <h3> Choose delivery slot </h3>
  <div class="uk-margin uk-grid-small uk-child-width-auto uk-child-width-1-3@m" uk-grid>
    <label><input class="uk-radio" type="radio" name="radio2" checked>12:00pm - 12:45pm</label>
    <label><input class="uk-radio" type="radio" name="radio2">12:00pm - 12:45pm</label>
    <label><input class="uk-radio" type="radio" name="radio2" checked>12:00pm - 12:45pm</label>
    <label><input class="uk-radio" type="radio" name="radio2">12:00pm - 12:45pm</label>
    <label><input class="uk-radio" type="radio" name="radio2" checked>12:00pm - 12:45pm</label>
    <label><input class="uk-radio" type="radio" name="radio2">12:00pm - 12:45pm</label> <label><input class="uk-radio" type="radio" name="radio2" checked>12:00pm - 12:45pm</label>
    <label><input class="uk-radio" type="radio" name="radio2">12:00pm - 12:45pm</label>
  </div>
  <button class="uk-button uk-button-primary">Proceed</button>
</div>